# Build directories
build/
cmake-build-*/

# Compiled objects
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.exe

# CMake junk
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Editor/OS files
*.swp
*.DS_Store


